

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:120%}
html{overflow-x:hidden}


#h01 {
	display: none;
	line-height: 0%;
	letter-spacing: 2px;
	text-align: center;
	font-size: 130%;
	color: #F00;
	position: absolute;
	left: 3%;
}

#AVISO {
	/*line-height: 0%;*/
	letter-spacing: 0.5px;
	top: 56%;
	left: 7.5%;
	font-size: 120%;
}

#EE {
	display: none;
	position: absolute;
	top: 56%;
	left: 25%;
	font-size: 65%;
}

#rdp {
	position: relative;
	text-align: center;
	bottom: 5%;
	font-size: 80%;
}

#h02 {
	display: block;
	position: absolute;
	letter-spacing: 0.2px;
	font-size: 100%;
	right: 5px;
	top: 5px;
}

#X01 {
	text-align: center;
	font-size: 200%;
	line-height: normal;
}

#h99 {
	display: block;
	line-height: 100%;
	color: #000;
	font-size: 250%;
	text-align: center;
	margin: auto;
}

#forca {
	display: block;
	height: 160px;
	position: relative;
	width: 130%;
	z-index: 999;
}

/*#forca:after {
	background: #4e3a0b;
	content: "";
	height: 15px;
	left: 0px;
	position: absolute;
	top: -5px;
	width: 110px;
	box-shadow: -3px -3px 0px 0px #888888;
}

#forca:before {
	background: #4e3a0b;
	content: "";
	height: 15px;
	left: -2px;
	position: absolute;
	top: 15px;
	width: 70px;*/
	
}

#DIVCORPO {
	display: block;
	width: 85%;
	height: 50%;
	right: 7.5%;
	top: 5%;
	padding: 15px 0px 0px 15px;
	border-radius: 8px;
}

#ROSTO {
	display: none;
	line-height: 24px;
	letter-spacing: 0.25px;
	font-size: 12px;
	text-shadow: 0px 0px 1px #F00;
	position: relative;
	left: 0.5px;
	top: -16px;
}

#CHAPEU {
	display: none;
	width: 25%;
	position: absolute;
	left: 115px;
	top: 30px;
}

#CABECA {
	display: none;
	width: 24%;
	position: absolute;
	left: 115px;
	top: 60px;
	padding: 0px;
}

#TRONCO {
	display: none;
	width: 17%;
	position: absolute;
	left: 120px;
	top: 91px;
	z-index: -999;

}

#BRACOD1 {
	display: none;
}

#BRACOD2 {
	display: none;
	width: 70%;
	position: absolute;
	left: -14px;
	top: 13px;
}

#BRACOE1 {
	display: none;
	width: 68%;
	position: absolute;
	right: 8px;
	top: 12px;    
}

#BRACOE2 {
	display: none;
}

#COXAD {
	display: none;
}

#PERNAD {
	display: none;
	width: 71%;
	position: absolute;
	left: -7px;
	bottom: -50px;
	z-index: -999;
}

#COXAE {
	display: none;
	position: absolute;	
}

#PERNAE {
	display: none;
	width: 74%;
	position: relative;
	right: -15px;
	bottom: 19px;
	z-index: -9;
	
}

hr { 
	border-style: inset;
	border-width: 1px;
	color: BLACK;
	width: 90%;
}

#DIV00 {
	display: block;
	position: absolute;
	width: 85%;
	right: 7.5%;
	top: 62%;
	padding: 15px 0px 15px 0px;
	border: 1px ridge black;
	border-radius: 8px;
}

#DIV01 {
	display: block;
	width: 85%;
	right: 7.5%;
	top: 62%;
	padding: 15px 0px 15px 0px;
	border-radius: 8px;
}

#Ltr {
	left: 1.5%;
	top: -10%;
	/*line-height: 0px;*/
	font-size: 80%;
}

input[type=text]{
	font-size: 2em;
	margin: 1px;
	border:2.5px solid #DDD;
	border-radius: 4px;
	text-align: center;
	width: 55px;
}

input[type=radio]{
	font-size: 10px;
	width: 5%;
}

form.style1 label {
	float:left;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
	margin-top: 7px;
}

.button {
	display: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	color: #FF0;
	background-color: #f00;
	border: none;
	border-radius: 6px;
	box-shadow: 0 4px #999;
	padding: 6px;
}

.button:hover {
	background-color: #00f;
}

.button:active {
	background-color: #000;
	box-shadow: 0 2px #666;
	transform: translateY(1.5px);
}
#main{
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(bg-forca.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#corpo{
	position: relative;
    margin: auto;
    display: block;
    width: 65%;
   
}
#palavras{
	display: block;
    width: 80%;
    margin: auto;
    height: 30%;
 
}
#esquerda{
	float: left;
    width: 50%;
    display: block;
    height: 30%;
}
#direita{
	float: left;
	width: 50%;
}
#alinha{
	float:left;
	width: 100%;
	margin: 0 0 50px 0;
}
.btnEnviaLtr{
margin: 3px 0 0 0!important;
float: left;
display: block;
}
#escreveLetra{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#alinhaFormLtr{
	float: left;
	margin: 0 15px 0 0;
}
.btnOk{
	float: left;
	margin: 0 20px 0 0;
}
.btnDicas{
	float: left;
}
#JogoNovo{
	position: relative;
	top: 50px;
	left: 70px;

}
.outraVez{
	float: left;
}
.BtnVer{
	position: relative;
	right: -15px;
}

@media ( max-width: 650px ) {
  .tmImg {
    width: 90%;
  }
  #CHAPEU {
  	left:102px;
  	width: 60%;
  	top: 26px;
  }
  #CABECA{
  	top: 46px;
  	left: 102px;
  	width: 60%;
  }
  #TRONCO{
  	top:67px ;
  	left: 106px;
  	width:45%;
  }
  #BRACOD2{
  	width:85% ;
  	left: -13px;
  	top: 9px;
  }
  #BRACOE1{
	width: 84%;
	right: -4px ;
	top:9px ;
  }
  #PERNAD {
	width:65% ;
	bottom:-35px ;
	left:-5px ;
  }
  #PERNAE{
	width:67% ;
	bottom: 12px;
	right:-13px ;
  }
  #JogoNovo {
  	left: -5px;
  }
  .BtnVer{
  	top: 14px;
  	right: -2px;
  }
  #h02{
  	position: relative;
  	top: 30px;
  	right: -30px;
  }
  #h99 {
  	font-size: 120%;
  }
  .btnEnviaLtr{
  	width: 130%;
  } 
}



